.ui-tabs-vertical { width: 100%; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 15em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 1; padding-right: -3em; border-right-width: 2px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 70%; position:relative;  border:1px solid red;}
  .vmbutton {width:30px; height:30px;}
